body {
    background-color:rgb(34, 34, 34)
}
p {
    color: rgb(253, 251, 251);
}
#contact{
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 5px;
    border-style: ridge;
    border-color: chartreuse;
    padding: 10px;
    background-color: chartreuse;
    display:flexbox;
    justify-content: right;
    
}
#Home {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 5px;
    border-style: groove;
}
#service{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    border-style: none;
    padding: 15px;
    border-radius: 5px;
}
#work{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none;
}
#process{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none;
}
#about{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none;
}
#careers{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none;
}
nav{
    justify-content:space-between;
    display: flex;
    width: 100%;
}
#buttons{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
h1{
    color: rgb(228, 224, 218);
    display: flex;
    justify-content: center;
}
#text{
    border-style:solid;
    border-color: rgb(46, 46, 46);
    border-width: 3px;
    background-color: ;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
}
span{
    background-color:rgb(54, 54, 54);
    padding: 5px;
    font-weight: lighter;
    border-radius: 5px;
}

#ourworks{
     color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    border-color: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 5px;
     border-style: solid;
}
.Container.png.png{
    display: flex;
    justify-content: center;
}
#herobutton{
  display: flex;
  justify-content: center;
  
}
h2{
    display: flex;
    justify-content: center;
    color: antiquewhite;
}
#Transform{
    font-size: 10px;
    display: flex;
    justify-content: center;
}
#allcards{
    display: flex;
    justify-content: space-evenly;
}
#footer{
    display: flex;
    justify-content: space-between;
}
#footercontainer{
 justify-content:space-between;
    display: flex;
    width: 100%;
}
#logo2 image{
    size: 50px;
}
#Home2,#service2,#work2,#process2,#about2,#careers2,#contact2{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
}
#cardtext{
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
}  
#learnmore{
    color: rgb(255, 255, 255);
    background-color: rgb(44, 44, 44);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
    
}
#footerbuttons{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
#stay img{
display: flex;
height: 50px;
justify-items: end;
}
#email{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
}
#nummer{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
}
#location{
 color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
}
#allrights{
  color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);
    padding: 15px;
    border-radius: 5px;
     border-style: none; 
     display: flex;
     justify-content: flex-end;   
}
#number{
    display: flex;
    justify-content:space-between ;
}
#rights{
    display: flex;
    justify-content: 
}
@media (max-width:768px) {
    body{
        background-color: rgb(34, 34, 34);
    }
}
